 
<% content_for :css do %>
<%= stylesheet_link_tag "plugins/iCheck/custom.css" %>

<%= stylesheet_link_tag "plugins/awesome-bootstrap-checkbox/awesome-bootstrap-checkbox" %>
<%= stylesheet_link_tag "plugins/summernote/summernote.css" %>
<%= stylesheet_link_tag "plugins/summernote/summernote-bs3.css" %>
<% end %>

<% content_for :js do %>
<!-- Jquery Validate -->
<%= javascript_include_tag "plugins/validate/jquery.validate.min" %>

<!-- iCheck -->
<%= javascript_include_tag "plugins/iCheck/icheck.min" %>
<!-- SUMMERNOTE -->
<%= javascript_include_tag "plugins/summernote/summernote.min" %>
    <script>
        $(document).ready(function () {
            $('.summernote').summernote({
              height: 150   //set editable area's height
            });
            $('.i-checks').iCheck({
                checkboxClass: 'icheckbox_square-green',
                radioClass: 'iradio_square-green',
            });

            $('.i-checks').iCheck({
                checkboxClass: 'icheckbox_square-green',
                radioClass: 'iradio_square-green',
            });

            $("#new_company").validate({
                rules: {
                    'company[name]': {
                        required: true,
                        minlength: 5,
                        maxlength: 60
                    },
                   'company[description]': {
                        required: true,
                        minlength: 200,
                        maxlength: 2000
                    },
                    'company[business_entity]': {
                        required: true
                    },
                    'company[vatcode]': {
                        required: true
                    },
                    'company[company_id_number]': {
                        required: true
                    },
                    'company[cea]': {
                        required: true
                    },
                    'company[registration_date]': {
                        required: true
                    }
                },
                messages: {
                    'company[name]': {
                        required: "Введите название компании",
                        minlength: "Название компании должно состоять из не менее 5 знаков." 
                    },
                    'company[description]': {
                        required: "Введите описание компании.",
                        minlength: "Описание компании должно состоять не менее чем из 200 знаков.",
                        maxlength: "Описание компании должно состоять не более чем 2000 знаков."
                    }
                }
            });
        });
    </script>
<% end %>

<%= form_for(@company, :html => { :multipart => true }) do |f| %>
<% if @company.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@company.errors.count, "error") %> prohibited this product from being saved:</h2>
        <ul>
        <% @company.errors.full_messages.each do |message| %>
            <li><%= message %></li>
        <% end %>
        </ul>
    </div>
<% end %>
<%# unless @company.new_record? %>
    <%#= f.label :state, t('.status') %>
    <%#= f.collection_select :state_event, @request.state_transitions, :event, :human_to_name, { }, class: "select2 form-control input-lg"   %>
<%# end %>
<div class="wrapper wrapper-content ecommerce">
    <div class="row">
        <div class="col-lg-12">
            <div class="tabs-container">
                    <ul class="nav nav-tabs">
                        <li class="active"><a data-toggle="tab" href="#tab-information">Информация</a></li>
                        <li class=""><a data-toggle="tab" href="#tab-requisites">Реквизиты</a></li>
                        <li class=""><a data-toggle="tab" href="#tab-seo">СЕО</a></li>
                        <li class=""><a data-toggle="tab" href="#tab-logo">Логотип</a></li>
                        <li class=""><a data-toggle="tab" href="#tab-attachments">Вложения</a></li>
                    </ul>
                    
                    <div class="tab-content">
                        <div id="tab-information" class="tab-pane active">
                            <div class="panel-body">
                                <fieldset class="form-horizontal">
                                    <div class="form-group">
                                    <label class="col-sm-2 control-label">Имя:</label>
                                        <div class="col-sm-10">
                                            <%= f.text_field :name, placeholder: "Имя компании", class: "form-control" %>
                                            <span class="help-block m-b-none">Общеизвестное название для этой компании. Недопустимые символы <>;=#{}</span>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                    <label class="col-sm-2 control-label">Описание:</label>
                                        <div class="col-sm-10">
                                            <%= f.text_area :description, style: "width: 100%; height: 100%;", class: "summernote" %>
                                            <span class="help-block m-b-none">Описание появляется в середине страницы товара.</span>
                                        </div>
                                    </div>
                                </fieldset>
                            </div>
                        </div>
                        <div id="tab-requisites" class="tab-pane">
                            <div class="panel-body">
                                <fieldset class="form-horizontal"> 
                                    <div class="form-group">
                                        <label class="col-sm-2 control-label">Правовая форма:</label>
                                        <div class="col-sm-10">
                                            <%= f.text_field :business_entity, placeholder: "Правовая форма", class: "form-control" %>
                                            <span class="help-block m-b-none">Объяснительный текст.</span>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label class="col-sm-2 control-label">ЕДРПОУ:</label>
                                        <div class="col-sm-10">
                                            <%= f.text_field :vatcode, placeholder: "ЕДРПОУ", class: "form-control" %>
                                            <span class="help-block m-b-none">Объяснительный текст.</span>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label class="col-sm-2 control-label">Идентификационный номер:</label>
                                        <div class="col-sm-10">
                                            <%= f.text_field :company_id_number, placeholder: "идентификационный номер", class: "form-control" %>
                                            <span class="help-block m-b-none">Объяснительный текст.</span>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label class="col-sm-2 control-label">Мета ключевые слова:</label>
                                        <div class="col-sm-10">
                                            <%= f.text_field :cea, placeholder: "cea", class: "form-control" %>
                                            <span class="help-block m-b-none">Объяснительный текст.</span>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label class="col-sm-2 control-label">Дата регистрации:</label>
                                        <div class="col-sm-10">
                                            <%= f.text_field :registration_date, placeholder: "дата регистрации", class: "form-control" %>
                                            <span class="help-block m-b-none">Объяснительный текст.</span>
                                        </div>
                                    </div>
                                </fieldset>
                            </div>
                        </div>
                        <div id="tab-seo" class="tab-pane">
                            <div class="panel-body">
                                <fieldset class="form-horizontal"> 
                                    <div class="form-group">
                                    <label class="col-sm-2 control-label">Мета заголовок:</label>
                                        <div class="col-sm-10">
                                            <%= f.text_field :meta_title, placeholder: "Мета заголовок", class: "form-control" %>
                                             
                                            <span class="help-block m-b-none">Публичное название для страницы товара, и для поисковых систем. Оставьте пустым, чтобы использовать название товара. Количество оставшихся символов отображается в левой области.</span>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label class="col-sm-2 control-label">Мета описание:</label>
                                        <div class="col-sm-10">
                                            <%= f.text_field :meta_description, placeholder: "Мета описание", class: "form-control" %>
                                            <span class="help-block m-b-none">Это описание появится в поисковых системах. Вам нужна простая фраза, короче 160 символов (включая пробелы).</span>
                                        </div>
                                    </div>
                                </fieldset>
                            </div>
                        </div>
                        <div id="tab-logo" class="tab-pane">
                            <div class="panel-body">
                                <!-- <div class="table-responsive">
                                    <table class="table table-bordered table-stripped">
                                        <thead>
                                        <tr>
                                            <th>
                                                Image preview
                                            </th>
                                            <th>
                                                Image url
                                            </th>
                                            <th>
                                                Sort order
                                            </th>
                                            <th>
                                                Actions
                                            </th>
                                        </tr>
                                        </thead>
                                        <tbody>
                                        <tr>
                                            <td>
                                                <img src="img\gallery\2s.jpg">
                                            </td>
                                            <td>
                                                <input type="text" class="form-control" disabled="" value="http://mydomain.com/images/image1.png">
                                            </td>
                                            <td>
                                                <input type="text" class="form-control" value="1">
                                            </td>
                                            <td>
                                                <button class="btn btn-white"><i class="fa fa-trash"></i> </button>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td>
                                                <img src="img\gallery\1s.jpg">
                                            </td>
                                            <td>
                                                <input type="text" class="form-control" disabled="" value="http://mydomain.com/images/image2.png">
                                            </td>
                                            <td>
                                                <input type="text" class="form-control" value="2">
                                            </td>
                                            <td>
                                                <button class="btn btn-white"><i class="fa fa-trash"></i> </button>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td>
                                                <img src="img\gallery\3s.jpg">
                                            </td>
                                            <td>
                                                <input type="text" class="form-control" disabled="" value="http://mydomain.com/images/image3.png">
                                            </td>
                                            <td>
                                                <input type="text" class="form-control" value="3">
                                            </td>
                                            <td>
                                                <button class="btn btn-white"><i class="fa fa-trash"></i> </button>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td>
                                                <img src="img\gallery\4s.jpg">
                                            </td>
                                            <td>
                                                <input type="text" class="form-control" disabled="" value="http://mydomain.com/images/image4.png">
                                            </td>
                                            <td>
                                                <input type="text" class="form-control" value="4">
                                            </td>
                                            <td>
                                                <button class="btn btn-white"><i class="fa fa-trash"></i> </button>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td>
                                                <img src="img\gallery\5s.jpg">
                                            </td>
                                            <td>
                                                <input type="text" class="form-control" disabled="" value="http://mydomain.com/images/image5.png">
                                            </td>
                                            <td>
                                                <input type="text" class="form-control" value="5">
                                            </td>
                                            <td>
                                                <button class="btn btn-white"><i class="fa fa-trash"></i> </button>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td>
                                                <img src="img\gallery\6s.jpg">
                                            </td>
                                            <td>
                                                <input type="text" class="form-control" disabled="" value="http://mydomain.com/images/image6.png">
                                            </td>
                                            <td>
                                                <input type="text" class="form-control" value="6">
                                            </td>
                                            <td>
                                                <button class="btn btn-white"><i class="fa fa-trash"></i> </button>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td>
                                                <img src="img\gallery\7s.jpg">
                                            </td>
                                            <td>
                                                <input type="text" class="form-control" disabled="" value="http://mydomain.com/images/image7.png">
                                            </td>
                                            <td>
                                                <input type="text" class="form-control" value="7">
                                            </td>
                                            <td>
                                                <button class="btn btn-white"><i class="fa fa-trash"></i> </button>
                                            </td>
                                        </tr>
                                        </tbody>
                                    </table>
                                </div> -->
                            </div>
                        </div>
                        <div id="tab-attachments" class="tab-pane">
                            <div class="panel-body">
                                <fieldset class="form-horizontal"> 
                                    <div class="form-group">
                                    <label class="col-sm-2 control-label">Мета заголовок:</label>
                                        <div class="col-sm-10">
                                            <%= f.text_field :meta_title, placeholder: "Мета заголовок", class: "form-control" %>
                                             
                                            <span class="help-block m-b-none">Публичное название для страницы товара, и для поисковых систем. Оставьте пустым, чтобы использовать название товара. Количество оставшихся символов отображается в левой области.</span>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label class="col-sm-2 control-label">Мета описание:</label>
                                        <div class="col-sm-10">
                                            <%= f.text_field :meta_description, placeholder: "Мета описание", class: "form-control" %>
                                            <span class="help-block m-b-none">Это описание появится в поисковых системах. Вам нужна простая фраза, короче 160 символов (включая пробелы).</span>
                                        </div>
                                    </div>
                                </fieldset>
                            </div>
                        </div>
                    </div>
                    <div class="ibox float-e-margins">
                        <div class="ibox-content">        
                            <div class="col-sm-2 col-sm-offset-2">
                                <%= link_to "Отменить", companies_path, class: "btn btn-default" %>
                            </div>
                            <div class="col-sm-4 pull-right">
                                <%= f.submit "Сохранить", class: "btn btn-primary" %>
                                <%= f.submit "Сохранить и остаться", name: "stay", class: "btn btn-primary" %>
                            </div>
                        </div>
                    </div>
                    <% end %>
            </div>
        </div>
    </div>
</div>