<div class="middle-box text-center loginscreen   animated fadeInDown">
    <h3>Где вы прожываете</h3>
    <p>С Вами с могут общаться другие пользователи сети.</p>
    <%= form_for @user, method: :put, url: wizard_path, class: "m-t" do |f| %>
        <% if f.object.errors.any? %>
            <div class="error_messages">
              <% f.object.errors.full_messages.each do |error| %>
                <p><%= error %></p>
              <% end %>
            </div>
        <% end %>
        <div class="form-group">
          <%= f.text_field :province, placeholder: "Область", class: "form-control" %>
        </div>
        <div class="form-group">
          <%= f.text_field :city, placeholder: "Город", class: "form-control" %>
        </div>
        <%= f.submit 'Следующий шаг', class: "btn btn-primary block full-width m-b" %>
    <% end %>
</div>