<div class="row wrapper border-bottom white-bg page-heading">
    <div class="col-lg-10">
        <h2>Каталог - список категорий</h2>
        <ol class="breadcrumb">
            <li><a href="<%= dashboard_path %>">Главная</a>
            <li><a>Каталог</a></li>
            <li class="active"><strong>Список категорий</strong></li>
        </ol>
    </div>
    <div class="col-lg-2">
    </div>
</div>

<div class="wrapper wrapper-content ecommerce">
    <div class="row">
        <div class="col-lg-2">
        Filter
        </div>
        <div class="col-lg-10">
            <div class="ibox">
                <div class="ibox-content">
                    <% @products.each_slice(4) do |products_group| %>
                <div class="row">
                    <% products_group.each do |product| %>
                    <div class="col-md-3">
                        <div class="ibox">
                            <div class="ibox-content product-box">
                                <% product.product_images.first(1).each do |i| %>
                                   <%= image_tag i.image_url(:large_thumb), class: 'img-responsive' %>
                                <% end %>
                                <% if product.product_images.empty? %>
                                <div class="product-imitation">
                                    [ НЕТ ФОТО ]
                                </div>
                                <% end %>
                                <div class="product-desc">
                                     
                                    <% if product.category.name %>
                                    <small data-toggle="tooltip" title="<%= product.category.name %>" class="text-muted"><%= product.category.name.truncate(30) %></small>
                                    <% end %>
                                    <a href="<%= catalog_product_path(product) %>" data-toggle="tooltip" title="<%= product.name if product.name %>" class="product-name"> <%= product.name.truncate(20) if product.name %></a>
                                    <div class="small m-t-xs">
                                        торговая марка - <%= link_to product.trademark.name.truncate(15), catalog_trademark_path %>
                                    </div>
                                    <div class="m-t text-righ">
                                        <div class="row">
                                            <div class="col-md-6">
                                                <%= link_to "Подробнее", catalog_product_path( product), class: "btn btn-xs btn-outline btn-primary pull-left" %>
                                            </div>
                                            <div class="col-md-6">
                                                <div class="text-right">
                                                    <i class="fa fa-thumbs-o-up"></i> <%= product.likers(User).count %>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    
                                </div>
                            </div>
                        </div>
                    </div>
                    <% end %>
                </div>
                <% end %>
                </div>
            </div>
        </div>
    </div>
</div>