<div class="row wrapper border-bottom white-bg page-heading">
    <div class="col-lg-10">
        <h2>E-commerce grid</h2>
        <ol class="breadcrumb">
            <li><a href="<%= root_path %>">Главная</a></li>
            <li><a>E-commerce</a></li>
            <li class="active">
                <strong>Products grid</strong>
            </li>
        </ol>
    </div>
    <div class="col-lg-2">
    </div>
</div>
<div class="wrapper wrapper-content animated fadeInRight">
    <% @products.each_slice(4) do |products_group| %>
    <div class="row">
        <% products_group.each do |product| %>
        <div class="col-md-3">
            <div class="ibox">
                <div class="ibox-content product-box">
                    <% product.product_images.first(1).each do |i| %>
                       <%= image_tag i.image_url(:large_thumb), style: "width: 260px; height: 200px;" %>
                    <% end %>
                    <% if product.product_images.empty? %>
                    <div class="product-imitation">
                        [ НЕТ ФОТО ]
                    </div>
                    <% end %>
                    <div class="product-desc">
                        <span class="product-price">
                            <%= product.price %> Грн.
                        </span>
                        <small data-toggle="tooltip" title="<%= product.category.name if product.category.name %>" class="text-muted"><%= product.category.name.truncate(30) if product.category.name %></small>
                        <a href="<%= catalog_product_path(product) %>" data-toggle="tooltip" title="<%= product.name if product.name %>" class="product-name"> <%= product.name.truncate(20) if product.name %></a>
                        <div class="small m-t-xs">
                            <%= sanitize(product.description.truncate(60)) if product.description %>
                        </div>
                        <div class="m-t text-righ">
                            <%= link_to "Подробнее", catalog_product_path(product), class: "btn btn-xs btn-outline btn-primary" %>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <% end %>
    </div>
    <% end %>
     <ul class="pagination pull-right"><%= will_paginate @products %></ul>
</div>